In [1]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('E:/Project/Done/Book Recomendation System/Dataset/Books.csv', sep=";", error_bad_lines=False, encoding='latin-1')
users = pd.read_csv('E:/Project/Done/Book Recomendation System/Dataset/Users.csv', sep=";", error_bad_lines=False, encoding='latin-1')
ratings = pd.read_csv('E:/Project/Done/Book Recomendation System/Dataset/Ratings.csv', sep=";", error_bad_lines=False, encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

In [3]:
print("Books: ",books.shape)
print("Users: ",users.shape)
print("Ratings: ",ratings.shape)

Books:  (271360, 8)
Users:  (278858, 3)
Ratings:  (1149780, 3)

In [4]:
print("Books: ",books.columns)
print("\nUsers: ",users.columns)
print("\nRatings: ",ratings.columns)

Books:  Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

Users:  Index(['User-ID', 'Location', 'Age'], dtype='object')

Ratings:  Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [5]:
books.rename(columns={"Book-Title":'Title',
                      'Book-Author':'Author',
                     "Year-Of-Publication":'Year',
                     "Image-URL-L":"URL"},inplace=True)

ratings.rename(columns={"Book-Rating": "Ratings"}, inplace=True)

In [6]:
books.head()

,ISBN,Title,Author,Year,Publisher,Image-URL-S,Image-URL-M,URL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [7]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
ratings.head()

   User-ID        ISBN  Ratings
0   276725  034545104X        0
1   276726  0155061224        5
2   276727  0446520802        0
3   276729  052165615X        3
4   276729  0521795028        6

In [9]:
books = books[['ISBN','Title', 'Author', 'Year', 'Publisher','URL']]

In [10]:
books.head()

,ISBN,Title,Author,Year,Publisher,URL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [11]:
ratings['User-ID'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: User-ID, Length: 105283, dtype: int64

In [12]:
x = ratings['User-ID'].value_counts() > 100
x[x].shape

(1825,)

In [13]:
y= x[x].index

In [14]:
ratings = ratings[ratings['User-ID'].isin(y)]

In [15]:
ratings.shape

(656605, 3)

In [16]:
ratings_with_books = ratings.merge(books, on='ISBN')

In [17]:
ratings_with_books.head()

,User-ID,ISBN,Ratings,Title,Author,Year,Publisher,URL
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [18]:
ratings_with_books.shape

(604854, 8)

In [19]:
number_rating = ratings_with_books.groupby('Title')['Ratings'].count().reset_index()

In [20]:
number_rating.head()

                                               Title  Ratings
0   A Light in the Storm: The Civil War Diary of ...        3
1                              Always Have Popsicles        1
2               Apple Magic (The Collector's series)        1
3   Beyond IBM: Leadership Marketing and Finance ...        1
4   Clifford Visita El Hospital (Clifford El Gran...        1

In [21]:
number_rating.rename(columns={'Ratings':'No. of Ratings'},inplace=True)

In [22]:
number_rating.head()

                                               Title  No. of Ratings
0   A Light in the Storm: The Civil War Diary of ...               3
1                              Always Have Popsicles               1
2               Apple Magic (The Collector's series)               1
3   Beyond IBM: Leadership Marketing and Finance ...               1
4   Clifford Visita El Hospital (Clifford El Gran...               1

In [23]:
final_rating = ratings_with_books.merge(number_rating, on='Title')

In [24]:
final_rating.head()

,User-ID,ISBN,Ratings,Title,Author,Year,Publisher,URL,No. of Ratings
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [25]:
final_rating.shape

(604854, 9)

In [26]:
final_rating = final_rating[final_rating['No. of Ratings'] >= 30]

In [27]:
final_rating.head()

,User-ID,ISBN,Ratings,Title,Author,Year,Publisher,URL,No. of Ratings
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [28]:
final_rating.shape

(148590, 9)

In [29]:
final_rating.drop_duplicates(['User-ID','Title'],inplace=True)

In [30]:
final_rating.shape

(145469, 9)

In [31]:
book_pivot = final_rating.pivot_table(columns='User-ID', index='Title', values= 'Ratings')

In [32]:
book_pivot

User-ID,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 Lighthouse Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1984,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
You Belong to Me and Other True Cases (Ann Rule's Crime Files: Vol. 2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zlata's Diary: A Child's Life in Sarajevo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
book_pivot.shape

(2372, 1804)

In [34]:
book_pivot.fillna(0, inplace=True)

In [35]:
book_pivot

User-ID,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
You Belong to Me and Other True Cases (Ann Rule's Crime Files: Vol. 2),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zlata's Diary: A Child's Life in Sarajevo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

train_data, test_data = train_test_split(final_rating, test_size=0.2, random_state=42)

mean_rating = train_data['Ratings'].mean()
baseline_predictions = [mean_rating] * len(test_data)
baseline_mse = mean_squared_error(test_data['Ratings'], baseline_predictions)

print(f"Baseline Mean Squared Error: {baseline_mse}")

Baseline Mean Squared Error: 13.134264133470884

In [37]:
from sklearn.preprocessing import LabelEncoder

label_encoder_user = LabelEncoder()
label_encoder_book = LabelEncoder()

final_rating['User-ID-Encoded'] = label_encoder_user.fit_transform(final_rating['User-ID'])
final_rating['ISBN-Encoded'] = label_encoder_book.fit_transform(final_rating['ISBN'])

X = final_rating[['User-ID-Encoded', 'ISBN-Encoded']].values
y = final_rating['Ratings'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
from sklearn.naive_bayes import GaussianNB
nb_model = GaussianNB()

nb_model.fit(X_train, y_train)

y_pred = nb_model.predict(X_test)
mse_nb = mean_squared_error(y_test, y_pred)
print(f"MSE for Naive Bayes: {mse_nb}")

MSE for Naive Bayes: 17.65559909259641

In [39]:
from sklearn.tree import DecisionTreeRegressor

dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)

y_pred = dt_model.predict(X_test)
mse_dt = mean_squared_error(y_test, y_pred)
print(f"MSE for Decision Tree: {mse_dt}")

MSE for Decision Tree: 19.752560665429296

In [40]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_test)
mse_rf = mean_squared_error(y_test, y_pred)
print(f"MSE for Random Forest: {mse_rf}")

MSE for Random Forest: 12.870160211727503

In [41]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
book_sparse_train = csr_matrix(book_pivot)
book_sparse_test = csr_matrix(test_data.pivot_table(columns='User-ID', index='Title', values='Ratings').fillna(0))


knn_model = NearestNeighbors(algorithm='brute')
knn_model.fit(book_sparse_train)

predicted_ratings = []
actual_ratings = []

for index, row in test_data.iterrows():
    user_index = row['User-ID']
    book_index = row['Title']
    
    if book_index in book_pivot.index and user_index in book_pivot.columns:
        distances, suggestions = knn_model.kneighbors(book_pivot.loc[book_index, :].values.reshape(1, -1), n_neighbors=6)
        similar_books = book_pivot.index[suggestions.flatten()[1:]]
        similar_books_ratings = book_pivot.loc[similar_books, user_index].values
        mean_rating = similar_books_ratings[similar_books_ratings > 0].mean() if len(similar_books_ratings[similar_books_ratings > 0]) > 0 else 0
        predicted_ratings.append(mean_rating)
        actual_ratings.append(row['Ratings'])

mse_knn = mean_squared_error(actual_ratings, predicted_ratings)
print(f"MSE for KNN: {mse_knn}")

MSE for KNN: 13.469253101059401

In [42]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor(n_estimators=100, random_state=42)
xgb_model.fit(X_train, y_train)
y_pred = xgb_model.predict(X_test)

mse_xgb = mean_squared_error(y_test, y_pred)
print("MSE for XGBoost:", mse_xgb)

MSE for XGBoost: 12.332403721582763

In [43]:
print(f"Baseline Mean Squared Error: {baseline_mse:.3f}")
print(f"MSE for Naive Bayes: {mse_nb:.3f}")
print(f"MSE for Decision Tree: {mse_dt:.3f}")
print(f"MSE for Random Forest: {mse_rf:.3f}")
print(f"MSE for KNN: {mse_knn:.3f}")
print(f"MSE for XGBoost: {mse_xgb:.3f}")

Baseline Mean Squared Error: 13.134
MSE for Naive Bayes: 17.656
MSE for Decision Tree: 19.753
MSE for Random Forest: 12.870
MSE for KNN: 13.469
MSE for XGBoost: 12.332

In [44]:
def get_book_recommendations(book_title, model, final_rating, label_encoder_user, label_encoder_book, n_recommendations=5):
    if book_title not in final_rating['Title'].values:
        print(f"Book title '{book_title}' not found in the dataset.")
        return []
    isbn = final_rating[final_rating['Title'] == book_title]['ISBN'].iloc[0]
    try:
        book_encoded = label_encoder_book.transform([isbn])[0]
    except ValueError:
        print(f"ISBN '{isbn}' is not in the training data.")
        return []
    all_users = final_rating['User-ID'].unique()
    all_users_encoded = label_encoder_user.transform(all_users)
    book_users = pd.DataFrame({
        'User-ID-Encoded': all_users_encoded,
        'ISBN-Encoded': [book_encoded] * len(all_users_encoded)
    })
    book_users['Predicted-Ratings'] = model.predict(book_users)
    top_users = book_users.sort_values(by='Predicted-Ratings', ascending=False).head(n_recommendations)
    top_users_ids = label_encoder_user.inverse_transform(top_users['User-ID-Encoded'])
    recommended_books = final_rating[final_rating['User-ID'].isin(top_users_ids)]
    recommended_books = recommended_books[recommended_books['ISBN'] != isbn]
    top_books = recommended_books.groupby('ISBN').mean()['Ratings'].sort_values(ascending=False).head(n_recommendations).index
    top_books_titles = final_rating[final_rating['ISBN'].isin(top_books)]['Title'].unique()
    return top_books_titles


book_title_example = input("Enter Book Name: ")
top_5_books = get_book_recommendations(book_title_example, rf_model, final_rating, label_encoder_user, label_encoder_book)
print(f"Top 5 book recommendations for the book '{book_title_example}':")
print(top_5_books)

Enter Book Name: It
Top 5 book recommendations for the book 'It':
['Misery' 'Message in a Bottle' 'The Dead Zone' 'Love'
 'Eyes of the Dragon']

In [45]:
def get_book_recommendations(book_title, model, final_rating, label_encoder_user, label_encoder_book, n_recommendations=5):
    if book_title not in final_rating['Title'].values:
        print(f"Book title '{book_title}' not found in the dataset.")
        return []
    isbn = final_rating[final_rating['Title'] == book_title]['ISBN'].iloc[0]
    try:
        book_encoded = label_encoder_book.transform([isbn])[0]
    except ValueError:
        print(f"ISBN '{isbn}' is not in the training data.")
        return []
    all_users = final_rating['User-ID'].unique()
    all_users_encoded = label_encoder_user.transform(all_users)
    book_users = pd.DataFrame({
        'User-ID-Encoded': all_users_encoded,
        'ISBN-Encoded': [book_encoded] * len(all_users_encoded)
    })
    book_users['Predicted-Ratings'] = model.predict(book_users)
    top_users = book_users.sort_values(by='Predicted-Ratings', ascending=False).head(n_recommendations)
    top_users_ids = label_encoder_user.inverse_transform(top_users['User-ID-Encoded'])
    recommended_books = final_rating[final_rating['User-ID'].isin(top_users_ids)]
    recommended_books = recommended_books[recommended_books['ISBN'] != isbn]
    top_books = recommended_books.groupby('ISBN').mean()['Ratings'].sort_values(ascending=False).head(n_recommendations).index
    top_books_titles = final_rating[final_rating['ISBN'].isin(top_books)]['Title'].unique()
    return top_books_titles
book_title_example = input("Enter Book Name: ")
top_5_books = get_book_recommendations(book_title_example, xgb_model, final_rating, label_encoder_user, label_encoder_book)
print(f"Top 5 book recommendations for the book '{book_title_example}':")
print(top_5_books)

Enter Book Name: It
Top 5 book recommendations for the book 'It':
['Mixed Blessings' 'Dragonsdawn'
 'Ceremony in Death (Eve Dallas Mysteries (Paperback))' 'Homeport'
 'Birthright']

In [46]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = knn_model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You Searched for the Book: '{book_name}'\n")
                    print("Suggested books are: \n")
                else:
                    print(j)
book_name = input("Enter Book Name: ")
recommend_book(book_name)

Enter Book Name: It
You Searched for the Book: 'It'

Suggested books are:

The Regulators
Mask
McNally's Luck (Archy McNally Novels (Paperback))
Flight of the Old Dog
Random Winds